input {
  max-width: 100%;
  max-height: auto;
}
body {
  margin-top: 2em;
  height: 736px;
  max-width: 414px;
  min-width: 320px;
  text-align: center;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
a {
  color: #00B7FF;
}

ul {
  list-style: none;
  font-size: 1em;
  padding: 0;
}
input {
  outline: none;
}
#selectwrap {
  margin: 10px;
  margin-top: 1em;
  border-radius: 12.5px;
  padding: 2.5em;
  padding-bottom: 3em;
  background-color: #f4f4f4;
}
#title {
  max-width: 100%;
  max-height: auto;
}
#tagline {
  color: #00B7FF;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1.5em;
}
#listmessage {
  color: #00B7FF;
  font-weight: bold;
  font-size: 2em;
  border-radius: 12.5px;
}
#listwrap {
  margin: 10px;
  margin-top: 1em;
  border-radius: 12.5px;
  background-color: #e0f6ff;
  padding: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.showArtist {
  color: #FF6B6B;
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.8em;
}
.ok {
  font-size: 20px;
  text-decoration: none;
  color: #FF6B6B;
}
.no {
  max-width: 90%;
}
.delete {
  font-weight: bold;
  color: #00B7FF;
  text-decoration: none;
  font-size: 1.5em;
}
.howTo {
  font-size: 20px;
  padding-top: 20px;
  font-weight: lighter;
  font-style: italic;
}
.you {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
  color: #FF6B6B;
}

.back {
  margin-top: 40px;
  padding-right: 15px;
  max-height: 5em;
  text-align: center;
  outline-width: 0;
}

.x {
  margin-top: 40px;
  padding-left: 15px;
  max-height: 5em;
  text-align: center;
  outline-width: 0;
}

.heart {
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  max-height: 5em;
  text-align: center;
  outline-width: 0;
}
.listItem {
  font-weight: bold;
  color: #333;
  font-size: 1.25em;
  margin-bottom: .25em;
}
.who {
  margin-top: 3em;
  font-style: italic;
  font-size: 3em;
  color: #FF6B6B;
  line-height: 1.1em;
}
.where {
  font-size: 1.75em;
  font-weight: bold;
}
.when {
  font-size: 1.25em;
  margin-bottom: 1.5em;
  font-weight: bold;
}

@media only screen and (min-width: 415px) {
  * {
    max-width: 413px;
    margin: 0 auto;
  }
  html {
    background-color: #00b7ff;
  }
  #title{
    margin-top: 1.5em;
  }
  body{
    margin-top: 0em;
  }
  html{
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-top: 110px solid black;
    border-bottom: 110px solid black;
    border-radius: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
